@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);
  --color-blue-500: var(--blue-500);
  --color-blue-700: var(--blue-700);
  --color-blue-foreground: var(--blue-foreground);
  --color-blue-accent: var(--blue-accent);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-accent: var(--secondary-accent);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-destructive: var(--destructive);
  --color-icon-primary: var(--icon-primary);
  --color-icon-secondary: var(--icon-secondary);
  --color-icon-tertiary: var(--icon-tertiary);
  --color-popover: var(--popover);
  --color-accent: var(--accent);
  --color-placeholder: var(--placeholder);
  --color-row: var(--row);
  --font-sans: var(--font-sans);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);  
  --default-border-width: 1.25px;
}

:root {
  --background: #ffffff;
  --foreground: ##fffefc;
  --sidebar: #f9f8f7;
  --muted: #2a1c0012;
  --primary: #2c2c2b;
  --primary-foreground: #8e8b86;
  --primary-accent: #5f5e59;
  --secondary: #7d7a75;
  --secondary-foreground: #91918e;
  --secondary-accent: #42230308;
  --tertiary: #a19e99;
  --border: #e6e5e3;
  --border-secondary: #f0efed;
  --border-tertiary: #1b150030;
  --destructive: #eb5757;
  --popover: #ffffff;
  --accent: #3735300f;
  --placeholder: #37352f26;
  --row: #37352f06;

  --blue-foreground: #007cd718;
  --blue-accent: #007cd724;
  --blue-500: #2383e2;
  --blue-700: #0077d4;

  --icon-primary: #383836;
  --icon-secondary: #8e8b86;
  --icon-tertiary: #ada9a3;
}

.dark {
 
}

@layer components {
  .skin-tone {
    @apply size-4 rounded-full inline-flex relative overflow-hidden;
  }

  .skin-tone::after {
    content: "";
    mix-blend-mode: overlay;
    background: linear-gradient(#fff3, #0000);
    border: 1px solid #000c;
    border-radius: 100%;
    position: absolute;
    inset: 0;
    box-shadow: inset 0 -2px 3px #000, inset 0 1px 2px #fff;
  }
}

@layer base {
  /* * {
    @apply;
  } */
  body {
    @apply border-border bg-background text-primary h-screen tracking-wide;
  }
  html {
    @apply font-sans text-primary;
  }

  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}